* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: white;
  text-decoration: none; }

.text-secondary {
  color: #33D7FF; }

.topnav {
  background-color: #333;
  overflow: hidden; }

/* The navigation menu links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

/* When you mouse over the navigation links, change their color */
.topnav a:hover {
  color: #33D7FF; }

.main {
  padding: 4rem;
  height: 100%; }
  .main .icons {
    margin-top: 1rem; }
    .main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
      .main .icons a:hover {
        color: #33D7FF; }
  .main#home {
    overflow: hidden; }
    .main#home h1 {
      margin-top: 15vh; }

.pic_class {
  border-radius: 60%;
  margin: 10px auto 10px;
  display: block; }

.about-info {
  padding: 2rem;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'bioimage bio bio ' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 30%;
    border: #33D7FF 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-bottom: #33D7FF 5px solid; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    font-size: 1.2rem;
    background: #515151;
    padding: 0.5rem;
    border-bottom: #33D7FF 5px solid; }

.project-info {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  padding: 3rem; }
  .project-info img {
    width: 200px;
    height: 200px;
    border: 3px #33D7FF solid; }
    .project-info img:hover {
      opacity: 0.5;
      border-color: #33D7FF;
      transition: all 0.5s ease-out; }

.lg-heading2 {
  padding: 1rem 3rem;
  font-size: 5rem; }
